.main {
    display: flex;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    border: 1.5px solid #151515;
    box-shadow: 5px 10px 10px #000;
    border-radius: 10px;
}